AccessModifierOffset: "-4"
AlignEscapedNewlines: Left
BreakBeforeBraces: Allman
ColumnLimit: 180
Cpp11BracedListStyle: "false"
IndentWidth: "4"
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: "false"
SpaceAfterCStyleCast: "false"
SpaceBeforeInheritanceColon: "true"
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: "true"
SpaceInEmptyParentheses: "false"
SpacesInAngles: "false"
SpacesInContainerLiterals: "true"
SpacesInCStyleCastParentheses: "true"
SpacesInParentheses: "true"
SpacesInSquareBrackets: "true"
Standard: c++20
TabWidth: "4"
UseTab: Never
